/* funnel-display-regular - latin-ext
FunnelDisplay[regular].ttf: Copyright 2023 The Funnel Project Authors (https://github.com/Dicotype/Funnel)
*/
@font-face {
    font-display: swap;
    font-family: 'Funnel Display';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/funnel-display-v3-latin-ext-regular.woff2') format('woff2');
}

/* funnel-display-700 - latin-ext
FunnelDisplay[700].ttf: Copyright 2023 The Funnel Project Authors (https://github.com/Dicotype/Funnel)
*/
@font-face {
    font-display: swap;
    font-family: 'Funnel Display';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/funnel-display-v3-latin-ext-700.woff2') format('woff2');
}

/* roboto-mono-regular - latin-ext
RobotoMono[regular].ttf: Copyright 2015 The Roboto Mono Project Authors (https://github.com/googlefonts/robotomono)
*/
@font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-mono-v31-latin-ext-regular.woff2') format('woff2');
}

body {
    background-color: var(--base);
    color: var(--text);
    font-family: "Funnel Display", sans-serif;
    line-height: 1.5;
    margin: auto;
    max-width: 768px;
}

@media only screen and (max-width: 810px) {
    body {
        max-width: 90vw;
    }

    .hidden-on-mobile {
        display: none;
    }
}

header {
    border-bottom: 1px solid var(--highlightLow);
    margin-bottom: 1rem;
}

nav>ul {
    margin: 0;
    padding: 0;
}

nav>ul>li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}

ul {
    padding-left: 15px;
}

li {
    list-style: circle;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

time {
    font-size: 14px;
    color: var(--muted);
}

footer {
    border-top: 1px solid var(--highlightLow);
    margin-top: 1rem;
    color: var(--muted);
}

p {
    text-align: justify;
    font-size: 15px;
}

b,
strong {
    color: var(--iris);
}

i,
em {
    color: var(--foam);
}

/*  */
h1 {
    color: var(--gold);
}

:is(h2, h3, h4, h5) {
    color: var(--rose);
}

:is(h1, h2, h3, h4, h5)>a {
    color: var(--pine);
}

h1>a {
    color: var(--love);
}

a {
    color: var(--love);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: var(--rose);
    text-decoration: underline;
    transition: 0.3s;
}

:is(h1, h2, h3, h4, h5, h6)::before {
    content: '#';
    color: var(--muted);
    margin-right: 5px;
}

h2::before {
    content: '##';
}

h3::before {
    content: '###';
}

h4::before {
    content: '####';
}

h5::before {
    content: '#####';
}

h6::before {
    content: '######';
}

header {
    margin-top: 20px;
}

header>span {
    font-weight: 800;
    font-size: 25px;
    color: var(--gold);
}

header>span::after {
    content: "_";
    color: var(--muted);

    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.inline-heading {
    display: inline;
    margin-left: 10px;
}

blockquote {
    border-left: 5px solid var(--rose);
    border-radius: 3px;
    margin: 0px;
    background-color: var(--surface);
}

blockquote>p {
    margin-left: 10px;
    padding: 3px;
}

pre,
code {
    background-color: var(--overlay) !important;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    border-radius: 3px;
}

pre {
    padding: 10px 16px;
    overflow: auto;
}

code {
    color: var(--gold);
    padding: 0px 3px;
    word-wrap: break-word;
}

pre>code {
    padding: 0;
}

code>span {
    color: var(--iris);
}

table {
    margin: auto;
    width: 100%;
}

th,
td {
    padding: 5px 10px;
}

th {
    /*min-width: 180px;*/
    background-color: var(--overlay);
    text-align: center !important;
}

tr {
    max-width: 500px;
}

tr:nth-child(odd) {
    background-color: var(--highlightHigh);
}

tr:nth-child(even) {
    background-color: var(--highlightMed);
}
